.alchemist h2 {
  font-family: "Gill Sans MT";
  font-size: 160%;
  color: #f6db4f;

}
.attitudeiseverything h2 {
  font-family: "Gill Sans MT";
  font-size: 160%;
  color: #f6db4f;


}
.alchemist p {
  font-family: "Gill Sans MT";
  font-size: 130%;
  color: white;
  text-align:justify ;
  width:40%;
  line-height:1.6;


}
.attitudeiseverything p {
  font-family: "Gill Sans MT";
  font-size: 130%;
  color: white;
  text-align:justify ;
  width:40%;
  line-height:1.6;


}

